<h1>Suppliers</h1>
<a href="/suppliers/new">Add a new supplier!</a>

<ul>
  <% for supplier in @suppliers %>
  <li>
    <p> <a href="/suppliers/<%= supplier.id %>"> <%= supplier.name %>  </a></p>
  </li>
  <% end %>
</ul>
