<h1>Suppliers</h1>
<form action="/suppliers/new" method="get">
  <input class="btn btn--action" type='submit' value="Add New Supplier"/>
</form>

<ul>
  <% for supplier in @suppliers %>
  <li>
    <h3> <a href="/suppliers/<%= supplier.id %>"> <%= supplier.name %>  </a></h3>
  </li>
  <% end %>
</ul>
