<form method="post" action="/suppliers">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name">
<br>
  <label for="contact">Contact:</label>
    <input id="contact" type="text" name="contact">

    <input class="btn btn--action" type='submit' value="Add New Supplier"/>

  <!-- <input type='submit' value="Add New Supplier"/> -->
</form>
