<!doctype html>
<html>
  <head>
    <title>Stock Control</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/products">All Products</a>
          <a href="/suppliers">All Suppliers</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
