<!doctype html>
<html>
  <head>
    <title>Stock Control</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <nav class="navbar">
  <a href="/">HOME</a>
  <div class="dropdown">
    <button class="dropbtn">SELECT OPTION
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/products">All Cars</a>
      <a href="/products/new">Add New Car</a>
      <a href="/suppliers">All Suppliers</a>
      <a href="/suppliers/new">Add New Supplier</a>
    </div>
  </div>
</nav>


    <%= yield %>
  </body>
</html>
