<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to Stock Control</h1>
    <nav>
      <ul>
        <li>
          <h4 href="/stocks">Home</h4>
        </li>
        <li>
          <h4 href="/stocks">See all Stock</h4>
        </li>
        <li>
          <h4 href="/suppliers">See all Suppliers</h4>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
