<h1>Products</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/products/new">New Product!</a>
</p>

<ul>
  <% for product in @products %>
  <li>
  <p><%= product.supplier.name %> <%= @actions.sample %> <%= product.model.name %> </p>
    <p>
      <form action="/products/<%= product.id %>/delete" method="POST">
        <input class="??????" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
