<h1>Stocks</h1>

<!-- <table>
  <tr>
    <th>Product_id</th>
    <th></th>
    <th>Quantity</th>
  </tr>
  <%# <% for stock in @stocks %> %>
  <tr>
    <td><a href="/stocks/<%= stock.id %>"><%= product.id %></a></td>
    <td>|</td>
    <%# <td><%= stock.quantity %></td> %>
  </tr>
  <% end %>
</table> -->
