<!DOCTYPE html>

<h1><%= @stock.id %> (stock)</h1>

<p>Qunatity: <%= @stock.quantity %></p>

<h3>Supplier by:</h3>

<ul>
  <% @stock.suppliers.each do |supplier| %>
  <li><%= supplier.name %></li>
  <% end %>
</ul>


<!--
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to Stock Control</h1>
    <nav>
      <ul>
        <li>
          <a href="/stocks">Home</a>
        </li>
        <li>
          <a href="/stocks">See all Stock</a>
        </li>
        <li>
          <a href="/suppliers">See all Suppliers</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html> -->
