<h1>Products</h1>
<a href="/products/new">Add a new car!</a>
<ul>
  <% for product in @products %>
  <li>
    <p> <a href="/products/<%= product.id %>"> <%= product.supplier.name %> - <%= product.model %> - qty: <%= product.quantity %></a></p>
  </li>
  <% end %>
</ul>
