<form method="post" action="/products/new">

 <label for ="name">Name:</label>
  <input id="name" type="text" name="name" />

  <label for="description">Description:</label>
    <input id="description" type="text" name="description" />
    <label for="supplier_id">Supplier_id:</label>
      <input id="description" type="text" name="description" />

      <label for="cost">Cost:</label>
        <input id="cost" type= "number" name="cost" />

        <label for="retail">Retail:</label>
          <input id="retail" type="number" name="retail" />

       type="text" name="New Product">
        <option value="Mercedes SLK 280">Mercedes SKL 280</option>
        <option value="Mercedes SLK 200">Mercedes SLK 200</option>
        <option value="BMW 2 Series">BMW 2 Series</option>
        <option value="Ford">Ford</option>
      </select>

    <!-- <label for="age">Age:</label>
    <input id="age" type="number" name="age"> -->

    <input type="submit" value="New Stock"/>



</form>
